<!DOCTYPE html>
<html>
<title>Test Home Page</title>
<body>

  <div class="about">
    
  
    <h1>Who dis?</h2>
    <p>I'm Seth Harper. I've been a programmer for 7 years. 
        I recently started dabbling in all 
        things web development. This site is a collection of my ongoing 
        projects.  Feel free to take a look around!.</p>
    <hr>
    <div class="currently-learning">
      <h2 style="font-size:2em;">Things I'm learning:</h2>
      <ul>
        <li>Apache - HTTP Server</li>
        <li>Phusion - Web Application Server</li>
        <li>Nginx - Reverse Proxy Server</li>
        <li>Ruby on Rails - MVC Framework based on a fun to learn language.</li>
        <li>Javascript/CSS - Things to help me make things look pretty.</li>
      </ul>
    </div>
    <hr />
    <p>
      Quite the full load!  Stay tuned to see what I can cook up with these nifty tools.
    </p>
  </div>
</body>
</html>