<!DOCTYPE html>
<html>
<title>Test Home Page</title>
<body>

  <div class="about">
    
  
    <h1>Who dis?</h2>
    <p>I'm Seth Harper. I've been a programmer for 7 years. 
        I have an education in Video Game Development, 
			  I recently started dabbling in Web Development, and I have 
			  a passion for programming. This site is a collection of my ongoing 
        projects.  Feel free to take a look around!</p>
    <hr>
    <div class="currently-learning">
      <h2 style="font-size:2em;">Things I dabble in:</h2>
      <ul>
				<li>Unity - 3D Game Engine</li>
				<li>Blender - 3D Modeling</li>
        <li>Ruby on Rails - MVC Framework based on a fun to learn language.</li>
        <li>Javascript/CSS - To help me make my website look pretty.</li>
        <li>Apache - HTTP Server</li> 
        <li>Passenger - Web Application Server by Phusion</li>
        <li>Nginx - Reverse Proxy Server</li>
      </ul>
    </div>
    <hr />
    <p>
      Stay tuned to see what I whip up with these nifty tools!
    </p>
  </div>
</body>
</html>