<!DOCTYPE html>
<html>
<title>Test Home Page</title>
<body>

  <div class="jumbotron about">
    
  
    <h1>Who dis?</h1>
    <p>I'm Seth Harper. I've been a programmer for 6 years. 
        I recently started dabbling in all 
        things web development. This site is a collection of my ongoing 
        projects.  Feel free to take a look around!.</p>
  
  </div>
</body>
</html>