<!DOCTYPE html>
<html>
<title>Seth Harper - Programmer</title>
<body>

  <div class="jumbotron jumbotron-home center-me">
    <h1 class="white-text">"Mudhole? Slimy? My home this is!" -Yoda</h1>

  </div>
  
</body>
</html>