<!DOCTYPE html>
<html>
<title>Test Home Page</title>
<body>

<h1>Home</h1>
<p>This is the home page of the test_app.</p>
<%= link_to 'About', about_path %>
  </br>
  <p>
    Last Updated: Saturday Jan 20th @ 2:02pm
  </p>
</body>
</html>