<!DOCTYPE html>
<html>
<title>Seth Harper - Programmer</title>
<body>

  <div class="jumbotron center-me">
    <h1 class="white-text">Welcome.Home()</h1>

  </div>
  
  </br>
  <p>
    Last Updated: Saturday Jan 20th @ 2:02pm
  </p>
</body>
</html>