@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em; 
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold; 

}

.jumbotron-home {
  background-image: asset-url('placeholder_index');
  background-size: cover;
  height: 550px;
}

.about {
  max-width: 700px;
  margin:0 auto;
  text-align: left;
}

.jumbotron h1 {
  color: white;
  text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

.meaimage {
  background-image: asset-url('mea_siblings');
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 444px;
}

.white-text {
  color: white;
}

.center-me {
  text-align: center;
}

.thought-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description {
  margin-top: 0;
}

.thought-title {
  font-weight: bold;
  font-size: 1.5em;
}
.thought-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

td {
  padding: 2px;
}