<div class="container">
   <footer class="footer">
      <small>
        Copyright &copy; 2018 <a href="https://www.sharperprogrammer.com">Seth Harper</a>
         - Last Updated 12:35pm, January 24th, 2018
     </small>
     <nav>
       <ul>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About", about_path %></li>
       </ul>
     </nav>
  </footer>
</div>